 
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
* {
    box-sizing: border-box;
    margin:  0;
    padding: 0;
}
body {
    background: black;
    font-family: "IBM Plex Sans", sans-serif;
    overflow-x: hidden;
}
:root{
    --header-snow: #ffffff;
    --oxford-blue: #101935;
    --black: #151515;
    --background-dark: #2d3548;
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
    --pinkfloydfont:'Barlow Condensed', sans-serif;
}

/*=============================================
=            Navbar            =
=============================================*/

.menu{
    background-color: transparent;
    color: var(--header-snow);
    width: 100%;
    height: 2cm;
    position: sticky;
    top: 0;
    z-index: 10;
}
.menu ul{
    text-decoration: none;
    color: var(--black);
    list-style: none;
}
.links a{
    text-decoration: none;
    float: right;
    padding: 16px;
    font-family: var(--pinkfloydfont);
    font-weight: 600;
    font-size: 0.5cm;
    position: relative;
    color: var(--header-snow);
    background: transparent; 
}
.links a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--header-snow);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: right;
    transition: -webkit-transform 250ms ease-in;
    transition: transform 250ms ease-in;
    transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}
.links a:hover::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
.logo{
    float: left;
    width: 30%;
    padding-left: 16px;
    text-decoration: none;

}
.logo a{
    text-decoration: none;
    color: var(--header-snow);
    font-family: var(--pinkfloydfont);
    font-weight: 600;
}
@media screen and (max-width: 500px) {
    .logo  {
        position: relative;
        width: 100%;
        align-items: center;

    }
    .logo h1{
        text-align: center;
    }
    .links a{
        text-align: center;
    }
    .menu{
        height: 3cm;
    }
  }

/*=====  End of Navbar  ======*/


/**
 *
 * Main Area Begins
 *
 */


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    color: white;
    text-align: center;
}
.container__headline {
    font-size: 7vmin;
    font-family: var(--pinkfloydfont);
    font-weight: 600;
    line-height: 36px;
}
#butoni{
    position: absolute;
    top: 70%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 49px;
    width: 160px;
    font-size: 18px;
    background: #ffffff;
    font-family: var(--pinkfloydfont);
    font-weight: 600;
    line-height: 36px;
}
.hero__inner {
    display: flex;
    position: relative;
    width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}
.hero__inner::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (16 / 9));
}
.hero__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 160%;
    object-fit: cover;
    filter: brightness(50%)
}
.hero__content {
    display: none;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.hero__headline {
    --padding: 1.5vmin;
    --duration: 400ms;
    --delay: calc(var(--duration) / 2);
    --ease: cubic-bezier(0.25, 1, 0.5, 1);
    position: relative;
    display: inline-block;
    font-size: 10vmin;
    overflow: hidden;
    margin-top: calc(var(--padding) * -1);
    padding: var(--padding);
}
.hero__headline a{
    text-decoration: none;
    color: #ffffff;
}
.hero__headline::after {
    content: "";
    position: absolute;
    top: calc(100% - var(--padding));
    left: 0;
    background-color: white;
    width: 100%;
    height: 1.5vmin;
    transform: scaleX(0);
    transition: transform var(--duration) var(--delay) var(--ease);
}
.hero__headline span {
    display: block;
    transform: translateY(110%);
    transition: transform var(--duration) var(--ease);
}
.active .hero__headline::after {
    transform: scaleX(1);
    transition-delay: 0s;
}
.active .hero__headline span {
    transform: translateY(0);
    transition-delay: var(--delay);
}
/**
 *
 * Main Area Ends
 *
 */

/**
 *
 * Images
 *
 */
footer{
    background-color: #111;
}
.snip1566 {
  position: relative;
  display: inline-block;
  margin: 20px;
  max-width: 190px;
  width: 100%;
  color: #bbb;
  font-size: 16px;
  box-shadow: none !important;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.snip1566 *,
.snip1566:before,
.snip1566:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.snip1566:before,
.snip1566:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50%;
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
  border: 2px solid #bbb;
  border-color: transparent #bbb;
}

.snip1566 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  border-radius: 50%;
  padding: 10px;
}

.snip1566 figcaption {
  position: absolute;
  top: 10px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 50%;
}
figcaption{
    padding-top: 70px;
    font-family: var(--pinkfloydfont);
    font-weight: 600;
    font-size: 20px;
}
.snip1566 a {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 1em;
  z-index: 1;
}

.snip1566 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1566:hover figcaption,
.snip1566.hover figcaption {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.snip1566:hover:before,
.snip1566.hover:before,
.snip1566:hover:after,
.snip1566.hover:after {
  border-width: 10px;
}

.snip1566:hover:before,
.snip1566.hover:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.snip1566:hover:after,
.snip1566.hover:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#o{
    text-decoration: none;
    font-family: var(--pinkfloydfont);
    font-weight: 600;
    letter-spacing: 2px;
}
.xaz{
    margin-top: 3cm;
    width: 5cm;
    height: 1px;
    background: white;
    position: absolute;
    left: 10%;
}
/**
 *
 * Images End
 *
 */


/*=============================================
=            FAQ            =
=============================================*/
@import url('https://fonts.googleapis.com/css?family=Hind:300,400&display=swap');

 .faq-container {
	 margin: 0 auto;
	 padding: 4rem;
	 width: 48rem;
     color: var(--header-snow);
}
 .accordion .accordion-item {
	 border-bottom: 1px solid #e5e5e5;
}
 .accordion .accordion-item button[aria-expanded='true'] {
	 border-bottom: 1px solid #b6b6b6;
}
 .accordion button {
	 position: relative;
	 display: block;
	 text-align: left;
	 width: 100%;
	 padding: 1em 0;
	 color: #fff;
	 font-size: 1.15rem;
	 font-weight: 600;
     font-family: var(--pinkfloydfont);
	 border: none;
	 background: none;
	 outline: none;
}
 .accordion button:hover, .accordion button:focus {
	 cursor: pointer;
	 color: #ffffff;
}
 .accordion button:hover::after, .accordion button:focus::after {
	 cursor: pointer;
	 color: #d3d3d3;
	 border: 1px solid #cccccc;
}
 .accordion button .accordion-title {
	 padding: 1em 1.5em 1em 0;
}
 .accordion button .icon {
	 display: inline-block;
	 position: absolute;
	 top: 18px;
	 right: 0;
	 width: 22px;
	 height: 22px;
	 border: 1px solid;
	 border-radius: 22px;
}
 .accordion button .icon::before {
	 display: block;
	 position: absolute;
	 content: '';
	 top: 9px;
	 left: 5px;
	 width: 10px;
	 height: 2px;
	 background: currentColor;
}
 .accordion button .icon::after {
	 display: block;
	 position: absolute;
	 content: '';
	 top: 5px;
	 left: 9px;
	 width: 2px;
	 height: 10px;
	 background: currentColor;
}
 .accordion button[aria-expanded='true'] {
	 color: #c9c9c9;
}
 .accordion button[aria-expanded='true'] .icon::after {
	 width: 0;
}
 .accordion button[aria-expanded='true'] + .accordion-content {
	 opacity: 1;
	 max-height: 9em;
	 transition: all 200ms linear;
	 will-change: opacity, max-height;
}
 .accordion .accordion-content {
	 opacity: 0;
	 max-height: 0;
	 overflow: hidden;
	 transition: opacity 200ms linear, max-height 200ms linear;
	 will-change: opacity, max-height;
     color: #fff;
     font-family: var(--pinkfloydfont);
     font-weight: 600;
     
}
 .accordion .accordion-content p {
	 font-size: 1rem;
	 font-weight: 300;
	 margin: 2em 0;
}

#faqtxt{
font-family: var(--pinkfloydfont);
font-weight: 600;
font-size: 1cm;
}

/*=====  End of FAQ  ======*/


/*=============================================
=            Call to Action            =
=============================================*/

.callto{
    height: 7cm;
    width: 100%;
    background-color: #111;
}
.callto button{
    position: absolute;
    height: 49px;
    width: 160px;
    font-size: 18px;
    background: #ffffff;
    font-family: var(--pinkfloydfont);
    font-weight: 600;
    line-height: 36px;
    left: 44%;
    margin-top: 40px;
}
.callto h2{
    padding-top: 30px;
    text-align: center;
    font-family: var(--pinkfloydfont);
    font-weight: 600;
    font-size: 1.3cm;
    color: #fff;
}
.callto a{
    text-decoration: none;
    color: black;
}
/*=====  End of Call to Action  ======*/

