@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background: #000;
}

/**
 *
 * Navbar Begins
 *
 */
:root{
    --header-snow: #ffffff;
    --oxford-blue: #101935;
    --black: #151515;
    --background-dark: #2d3548;
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
    --pinkfloydfont:'Barlow Condensed', sans-serif;
}

/*=============================================
=            Navbar            =
=============================================*/

.menu{
    background-color: transparent;
    color: var(--header-snow);
    width: 100%;
    height: 2cm;
    position: sticky;
    top: 0;
    z-index: 10;
}
.menu ul{
    text-decoration: none;
    color: var(--black);
    list-style: none;
}
.links a{
    text-decoration: none;
    float: right;
    padding: 16px;
    font-family: var(--pinkfloydfont);
    font-weight: 600;
    font-size: 0.5cm;
    position: relative;
    color: var(--header-snow);
    background: transparent; 
}
.links a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--header-snow);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: right;
    transition: -webkit-transform 250ms ease-in;
    transition: transform 250ms ease-in;
    transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}
.links a:hover::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
.logo{
    float: left;
    width: 30%;
    padding-left: 16px;
    text-decoration: none;

}
.logo a{
    text-decoration: none;
    color: var(--header-snow);
    font-family: 'Cinzel', serif;
}
@media screen and (max-width: 500px) {
    .logo  {
        position: relative;
        width: 100%;
        align-items: center;

    }
    .logo h1{
        text-align: center;
    }
    .links a{
        text-align: center;
    }
    .menu{
        height: 3cm;
    }
  }

/**
 *
 * Navbar Ends
 *
 */



input, button {
    border: none;
    outline: none;
    background: none;
    font-family: var(--pinkfloydfont);
    font-weight: 600;
}
.tip {
    font-size: 20px;
    margin: 40px auto 50px;
    text-align: center;
}
.cont {
    margin-top: 10cm;
    overflow: hidden;
    position: relative;
    width: 900px;
    height: 550px;
    margin: 0 auto 100px;
    background: #222;
}
.form {
    position: relative;
    width: 640px;
    height: 100%;
    transition: transform 1.2s ease-in-out;
    padding: 50px 30px 0;
}
.sub-cont {
    overflow: hidden;
    position: absolute;
    left: 640px;
    top: 0;
    width: 900px;
    height: 100%;
    padding-left: 260px;
    background: #222;
    transition: transform 1.2s ease-in-out;
}
.cont.s--signup .sub-cont {
    transform: translate3d(-640px, 0, 0);
}
button {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
    font-family: var(--pinkfloydfont);
}
.img {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    padding-top: 360px;
}
.img:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 900px;
    height: 100%;
    background-image: url('https://images.pexels.com/photos/1148820/pexels-photo-1148820.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    transition: transform 1.2s ease-in-out;
}
.img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.cont.s--signup .img:before {
    transform: translate3d(640px, 0, 0);
}
.img__text {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: #fff;
    transition: transform 1.2s ease-in-out;
    font-family: var(--pinkfloydfont);
    font-weight: 600;
}
.img__text h2 {
    margin-bottom: 10px;
    font-weight: normal;
    font-family: var(--pinkfloydfont);
    font-weight: 600;
}
.img__text p {
    font-size: 14px;
    line-height: 1.5;
    font-family: var(--pinkfloydfont);
    font-weight: 600;
}
.cont.s--signup .img__text.m--up {
    transform: translateX(520px);
}
.img__text.m--in {
    transform: translateX(-520px);
}
.cont.s--signup .img__text.m--in {
    transform: translateX(0);
}
.img__btn {
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 100px;
    height: 36px;
    margin: 0 auto;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
    font-family: var(--pinkfloydfont);
    font-weight: 600;
}
.img__btn:after {
    content: '';
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 30px;
}
.img__btn span {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: transform 1.2s;
}
.img__btn span.m--in {
    transform: translateY(-72px);
}
.cont.s--signup .img__btn span.m--in {
    transform: translateY(0);
}
.cont.s--signup .img__btn span.m--up {
    transform: translateY(72px);
}
h2 {
    width: 100%;
    font-size: 26px;
    text-align: center;
    color: white;
    font-weight: 600;
    font-family: var(--pinkfloydfont);
}
label {
    display: block;
    width: 260px;
    margin: 25px auto 0;
    text-align: center;
}
label span {
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}
input {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid #ffffff66;
    text-align: center;
}
.forgot-pass {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: #cfcfcf;
}
.submit {
    margin-top: 40px;
    margin-bottom: 20px;
    background: #fff;
    text-transform: uppercase;
    color: #000;
}
.sign-in {
    transition-timing-function: ease-out;
}
.cont.s--signup .sign-in {
    transition-timing-function: ease-in-out;
    transition-duration: 1.2s;
    transform: translate3d(640px, 0, 0);
}
.sign-up {
    transform: translate3d(-900px, 0, 0);
}
.cont.s--signup .sign-up {
    transform: translate3d(0, 0, 0);
}
.icon-link {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 32px;
}
.icon-link img {
    width: 100%;
    vertical-align: top;
}
.icon-link--twitter {
    left: auto;
    right: 5px;
}

